
{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {"loose": true}],
        ["istanbul", {
            "exclude": [
                "spec/*Spec.js",
                "spec/**/*Spec.js"
            ]
        }]
    ]
}